
@font-face {
    font-family: 'Avenir Next';
    src: url("http://www.vainilladev.com/fonts/Avenir Next.ttc"); /* File to be stored at your site */
    }
body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #FFF1EC;
}
.logo-animated img{
    max-height: 500px;
    animation-name: vainilla-base;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
.text{
    margin: 20px 0;
    font-family: 'Avenir Next', sans-serif;
    font-size: 1.2em;
    color: #00EFFF;
    font-weight: bold;
    text-align: center;;
}
.text p{
    margin: 0;
}
.text a{
    text-decoration: none;
    color: #3B404A;

}
.text h2{
    margin: 15px 0 10px;
}
.footer{
    background: #00EFFF;
    color: #3B404A;
    height: 20px;
    width: 100%;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}
@keyframes vainilla-base{
    0%{
        opacity: 0;
        transform: scale(.3) rotate(0deg);
    }
    30%{
        opacity: 1;
        transform: scale(.8) rotate(360deg);
    }
    80%{
        opacity: 1;
        transform: scale(.8) rotate(360deg);
    }
    100%{
        opacity: 0;
        transform: scale(.3) rotate(0deg); 
    }
}

@media screen and (max-width: 767px){
    .logo-animated img{
        height: 400px;
    }
}

@media screen and (max-width: 480px){
    .logo-animated img{
        height: 300px;
    }
    .text h2{
        margin: 10px 0 15px;
    }
}

@media screen and (max-width: 320px){
    .logo-animated img{
        height: 200px;
    }
    .text{
        font-size: .8em;
    }
    .text h2{
        font-size: .8e;
    }
}

@media screen and (max-width: 250px){
    .logo-animated img{
        height: 100px;
    }
}